<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action="salvarpessoa" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="age">Age</label>
    <input type="text" name="age" id="age">

    <input type="submit" value="Salvar">
</form>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Idade</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pessoa : ${pessoas}"> <!-- ${pessoas} é o nome da variável que está no controller -->
        <td th:text="${pessoa.id}"></td>
        <td th:text="${pessoa.name}"></td>
        <td th:text="${pessoa.age}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>